# ignore all files inside /out directory except for the pdf file
thesis/dist/*
!thesis/dist/*.pdf

# ignore unnecessary files
.idea/

# database source and exports
db/

# db queries
app-demo/queries/
app-demo/cache/
app-demo/cached-queries/

# charts prep
prep-charts.ipynb
