# misc
.DS_Store

# ignore all files inside /out directory except for the pdf file
thesis/dist/*
!thesis/dist/*.pdf

# ignore unnecessary thesis files
thesis/autobib/

# ignore unnecessary files
.idea/

# database source and exports
db/

# deprecated app-demo
app-demo/

# charts prep
app-demo/prep-charts.ipynb
